<settings>

    <setting propertyKey="@Properties.DarkMode" title="@Strings.DarkModeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowSeconds" title="@Strings.SecondsDisplayTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
