<settings>

    <setting propertyKey="@Properties.DarkMode" title="@Strings.DarkModeTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowSeconds" title="@Strings.SecondsDisplayTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.UseFarenheit" title="@Strings.UseFarenheitTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowLines" title="@Strings.ShowLinesTitle">
        <settingConfig type="boolean" />
    </setting>

    <setting propertyKey="@Properties.ShowEnvironment" title="@Strings.ShowEnvironmentTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
